<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>20thirty.org</title>
<link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="stylesheets/flexslider.css" rel="stylesheet" >
<link href="stylesheets/styles.css" rel="stylesheet">
<link href="stylesheets/queries.css" rel="stylesheet">
<link href="stylesheets/animate.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
    <div class = "navbar navbar-fixed-top" style="background-color:rgb(10,42,76);">
        <div class = "container">

            <a href = "#" class="navbar-brand"style="color:white;font-family: Open Sans;font-weight:300;font-size:18px">20thirty.org</a>

            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <i class="fa fa-bars"></i>
            </button>

            <div class = "collapse navbar-collapse navHeaderCollapse">

                <ul class = "nav navbar-nav navbar-right white-text">

                    <li class = "active"><a href = "#">Home</a></li>

                    <li class = "dropdown">

                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Our Work <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                            <li><a href = "#">Clean Bill of Health</a></li>
                            <li><a href = "#">Drinkable H2O</a></li>
                        </ul>

                    </li>

                    <li><a href = "#">Who We Are</a></li>
                    <li><a href = "#">Our Partners</a></li>
                    <li><div href = "#" class = "navbar-btn btn-info btn" style="margin-left:10px">Donate</div></li>
                </ul>

            </div>

        </div>
    </div>

    <div class="intro-overlay" data-start="background-position: 0 0px;"
    data-top-bottom="background-position: 0 200px;"
    data-anchor-target=".intro-overlay"></div>

    <div class="intro">
      <div class="vertAlign title">
        <div class="vertAlign-item">
          <div class="title-main">we're committed to making change</div>
           <hr class="br" id="white">
          <div class="title-subtitle">20thirty and its dedicated partners are working hard to create the future we need for a brighter tomorrow.<br>Find out how you can help today.</div>
        </div>
      </div>
    </div>

    <div id="two">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
           <div class="udhr-quote text-center">
              “We need to begin thinking of inequality not just as a moral issue-which it is-but also as a fundamental economic concern, integral to thinking about human development.”<br><small>- Joseph Stiglitz, Nobel Laureate in Economics</small>
           </div>
          <!--  <hr class="br"> -->
        </div>
      </div>    

<!--       <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center about-text">
            More than 2.2 Billion people are living in multidimensional poverty. That will increase to 4.2 Billion by 2050. 20thirty.org addresses these issues by creating partnerships of purpose and addressing systemic and structural vulnerabilities. We work to help reduce vulnerability and transnational economic threats at key points through health and access to drinkable H2O. 

            <br><br>

            Our experiences in the for-profit sector mean that we take a “for-profit” approach in managing costs and overhead. Efficiencies and accountability are top priorities so we can effectively impact more communities. 
        </div>
      </div> -->
    </div>

    <div class="goals-header text-center">By 2030, We Will:</div>

    <div class="goal goal1 vertAlign" data-start="background-position: 0 -1000px;"
      data-top-bottom="background-position: 0 -800px;"
      data-anchor-target=".goal1">
        <div class="goal-overlay"></div>
        <div class="goal-text vertAlign-item">Vaccinate <span id="vaccinations">1,500,000</span> people</div>
    </div>

    <div class="goal goal2 vertAlign" data-start="background-position: 0 -500px;"
      data-top-bottom="background-position: 0 -300px;"
      data-anchor-target=".goal2">
        <div class="goal-overlay"></div>
        <div class="goal-text vertAlign-item">Cover <span id="surepods">2,000,000</span> people with SurePods</div>
    </div>

    <div class="goal goal3 vertAlign" data-start="background-position: 0 -800px;"
      data-top-bottom="background-position: 0 -600px;"
      data-anchor-target=".goal3">
        <div class="goal-overlay"></div>
        <div class="goal-text vertAlign-item">Give <span id="water">1,000,000</span> people access to drinkable water</div>
    </div>

    <div class="work">
        <div class="row">
            <div class="col-md-4 work-item">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-main-text">Clean Bill of Health</div>
                <div class="work-item-subtext">20thrity.org help builds human capacity by addressing health via disease prevention and disease maintenance.</div>
            </div>

            <div class="col-md-4 work-item-pic pic-1">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-overlay"></div>
                <div class="work-item-main-text">Disease Prevention and Management</div>
                <div class="work-item-subtext">A child’s life begins with vaccines and this instrumental shot at life enables progressive developmental building.</div>
            </div>

            <div class="col-md-4 work-item">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-main-text">SurePod Platform</div>
                <div class="work-item-subtext">The bottom line is simple technology used in the right applications can save lives.</div>
            </div>

            <div class="col-md-4 work-item-pic pic-2 ">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-overlay"></div>
                <div class="work-item-main-text">Prenatal and Postnatal Care Texts</div>
                <div class="work-item-subtext">Our platform can help patients who don’t know what to do before and after birth.</div>
            </div>

            <div class="col-md-4 work-item">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-main-text">Patient Management</div>
                <div class="work-item-subtext">Frontline health workers are responsible for up 100 patients and will walk up to 100 mile radius to check-in on patients.</div>
            </div>

            <div class="col-md-4 work-item-pic pic-3 ">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-overlay"></div>
                <div class="work-item-main-text">Potable H2O</div>
                <div class="work-item-subtext">lorem ipsum on patients. Our simple SMS, and text to voice platform can be used by community health workers wi on patients. Our simple SMS, and text to voice platform can be used by community health workers wi</div>
            </div>
        </div>
    </div>


    <div class="subscribe-overlay"></div>
    <div class="subscribe" data-start="background-position: 0 -600px;"
      data-top-bottom="background-position: 0 -300px;"
      data-anchor-target=".subscribe">

      <div class="email">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 email-title">
                <span style="border-bottom:2px dotted white">Keep In Touch</span>
                <div class="email-text">We're constantly working hard on our existing projects while expanding onto new frontiers. To keep up with our latest news, subscribe to our update service and you'll be the first to know about program progress and important news.</div>
            </div>
            <div class="col-md-3 col-md-offset-1 email-input">
                
                 <div class="form-group">
                    <span class="email-subtitle">Enter your email to receive updates:</span>
                   <!--  <form class="form-inline" role="form">
                        <input type="email" class="form-control email-field" id="exampleInputEmail1" placeholder="Enter email">
                        <i class="fa fa-2x fa-arrow-circle-o-right" style="position:relative;top:12px;"></i>
                    </form> -->
                     <input type="email" class="form-control email-field" id="exampleInputEmail1" placeholder="Enter email">
                     <button type="button" class="btn btn-info" style="width:100%;border-radius:1px;margin-top:6px;border-bottom:4px solid #17418D">Submit</button>
                  </div>
            </div>
            
        </div>
      </div>
    </div>

<!--     <div class = "navbar navbar-default navbar-fixed-bottom">

        <div class = "container">
            <a href = "#" class = "navbar-btn btn-info btn pull-right">Donate</a>
            <p class = "navbar-text pull-right">Do your part and contribute today.</p>
        </div>

    </div> -->

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="javascripts/waypoints.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/jquery.flexslider.js"></script>
<script src="javascripts/modernizr.js"></script>
<script src="javascripts/skrollr-master/dist/skrollr.min.js"></script>
</body>
</html>
