<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sanatech</title>
<link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="stylesheets/flexslider.css" rel="stylesheet" >
<link href="stylesheets/styles.css" rel="stylesheet">
<link href="stylesheets/queries.css" rel="stylesheet">
<link href="stylesheets/animate.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
    <div class = "navbar navbar-fixed-top" style="background-color:rgb(10,42,76);">
        <div class = "container">

            <a href = "#" class="navbar-brand"style="color:white;font-family: Open Sans;font-weight:300;font-size:18px">Sanatech</a>

            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                <i class="fa fa-bars"></i>
            </button>

            <div class = "collapse navbar-collapse navHeaderCollapse">

                <ul class = "nav navbar-nav navbar-right white-text">

                    <li class = "active"><a href = "#">Home</a></li>

                    <li class = "dropdown">

                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Our Work <b class = "caret"></b></a>
                        <ul class = "dropdown-menu">
                            <li><a href = "#">Clean Bill of Health</a></li>
                            <li><a href = "#">Drinkable H2O</a></li>
                        </ul>

                    </li>

                    <li><a href = "#">Who We Are</a></li>
                    <li><a href = "#">Our Partners</a></li>
                    <li><div href = "#" class = "navbar-btn btn-info btn" style="margin-left:10px">Donate</div></li>
                </ul>

            </div>

        </div>
    </div>

    <div class="intro-overlay"></div>

    <div class="intro">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="images/bg1.jpg" alt="...">
              <div class="carousel-caption">
                
              </div>
            </div>
            <div class="item">
              <img src="images/bottles.jpg" alt="...">
              <div class="carousel-caption">
                
              </div>
            </div>
             <div class="item">
              <img src="images/natalcare.jpg" alt="...">
              <div class="carousel-caption">
                
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" onclick="$('#carousel-example-generic').carousel('prev')">
            <span class="fa fa-2x fa-arrow-circle-o-left" style="margin-top:45%"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" onclick="$('#carousel-example-generic').carousel('next')">
            <span class="fa fa-2x fa-arrow-circle-o-right"></span>
          </a>
        </div>
    </div>

    <div class="about text-center">
        <div class="about-header">
            <p style="position:relative;top:5px;">introduction</p>
        </div>
        <div class="about-headbar"></div>
        <div class="about-title text-center">About Sanatech.org</div>
        <div class="about-text">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    Sanatech.org is dedicated to strengthening people and local economies. Our goal is to provide innovative applications of technology to solve the pressing problems in the developing world .
                    <br><br>
                    By addressing key points in healthcare and building human capacity, we work to help reduce vulnerability and transnational economic. 
                    <br><br>
                    SurePod development history….
                    <br><br>
                    Sanatech.org addresses these health issues by creating partnerships of purpose and building technology with implementation parterns. 
                    <br><br>
                    <span style="font-family:Source Sans Pro;font-weight:700;font-size:24px;letter-spacing:1px">The Bottom Line: Simple technology can save lives. </span>
                </div>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board text-center">
        <div class="board-header">
            <p style="position:relative;top:5px;">who we are</p>
        </div>
        <div class="board-headbar"></div>
        <div class="board-intro">
            <section class="intro text-center section-padding" id="intro">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 wp1 padding">
                    <p class="varela">We have a multi-disciplinary team and Board of Advisors. We cover technology, health and medicine, development and business. Our board has a breathtaking range of experiences and perspectives provides the richest possible landscape for effective and creative solutions.</p>
                  </div>
                </div>
              </div>
            </section>
        </div>
          <section class="features text-center section-padding" id="features">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="features-wrapper">
                  <div class="col-md-4 wp2">
                    <div class="icon">
                      <i class="fa fa-binoculars shadow"></i>
                    </div>
                    <h2>Vision</h2>
                    <p>Many health problems around the world stem from lack of information, access to technology and proper management of diseases. Sana provides tools and access to innovative technology that make a direct impact on peoples’ well-being. Technology can stop diseases, keep people healthy, reach their full potential. Strong people and robust economies.</p>
                  </div>
                  <div class="col-md-4 wp2 delay-05s">
                    <div class="icon">
                      <i class="fa fa-bar-chart-o shadow"></i>
                    </div>
                    <h2>Mission</h2>
                    <p>Sana brings together innovative technology, field experts, partners to solve major issues utilizing innovative and simple technology. We work hard to strengthen people by improving their health and creating sustainable solutions for more resilient economies.</p>
                  </div>
                  <div class="col-md-4 wp2 delay-1s">
                    <div class="icon">
                      <i class="fa fa-users shadow"></i>
                    </div>
                    <h2>Values</h2>
                    <p>These values guide our decisions and how we will interact with those that we serve: Commitment to Success, Accountability, Teamwork, Risk-taking, Efficiency, Empowerment, Integrity, and Honesty.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        </div>
    </div>

    <div class="ourWork text-center">
        <div class="work-header">
            <p style="position:relative;top:5px;">our work</p>
        </div>
        <div class="work-headbar"></div>
        <div class="ourWorkOverlay"></div>
        <div class="btn-group workButtons">
          <button class="btn btn-default">The Problem</button>
          <button class="btn btn-default">Our Solution</button>
          <button class="btn btn-default">Core Technology and Standards</button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="workText">
                        <span class="problem">
                          The world will be short of 12.9 million health-care workers by 2035; today, that figure stands at 7.2 million (WHO 2013). A WHO report released warns that the findings – if not addressednow – will have serious implications for the health of billions of people across all regions of the world.
                          <br>
                          Many health problems around the world stem from lack of information, access to technology and proper management of diseases. Frontline health workers are responsible for up 100 patients and will walk up to 100 mile radius to check-in on patients. They can track diseases and decrease workload.
                        </span>
                        <span class="solution">
                          MIT and SurePod Platform
                          Sana provides tools and access to innovative technology that make a direct impact on peoples’ well-being. Stop diseases before they start. Vaccines are instrumental in giving a child a shot at life. And enables progressive developmental building.  Many diseases are preventable, including measles, rotavirus, meningitis and pneumonia with immunizations. Expanding access to critical vaccines strengthens our ability to fight disease globally, increase economic stability and keep families healthy here at home. 

                          Spending on services in the early stages of life can bring about benefits such as a growing economy and reduced poverty. Recipients have a better shot at life and contributing to their local economy.   Figure 8


                          Sana Services
                          Real time two-way communication phones and our connection to our platform can be used by patients, community health workers with lower literacy or limited previous exposure to technology.

                          Prenatal and Postnatal care texts
                          Our platform can help patients who don’t know what to do before and after birth.
                          Our system can be used by hospitals and clinical teams to register every pregnancy in their communities and automatically schedule reminders about check-ups. In disaster situations, the SurePod system can report warnings to healthcare workers.

                          Consistent and regular medication reminders is key in managing chronic illnesses, including HIV. Text to voice medication reminders enable treatments to be effective and prevent viruses from rapid mutation.
                        </span>
                        <span class="core-technology">
                          Our  platform works with limited or no access to internet, and limited access to electricity. It’s designed for remote and rural areas. Health workers text simple codes to communicate information about who’s pregnant, who’s sick, and who’s in need of emergency help. 
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
<!-- 

    <div class="work">
        <div class="row">
            <div class="col-md-4 work-item">
                <a href="/inner"><div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div></a>
                <div class="work-item-main-text">Clean Bill of Health</div>
                <div class="work-item-subtext">20thrity.org help builds human capacity by addressing health via disease prevention and disease maintenance.</div>
            </div>

            <div class="col-md-4 work-item-pic pic-1">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-overlay"></div>
                <div class="work-item-main-text">Disease Prevention and Management</div>
                <div class="work-item-subtext">A child’s life begins with vaccines and this instrumental shot at life enables progressive developmental building.</div>
            </div>

            <div class="col-md-4 work-item">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-main-text">SurePod Platform</div>
                <div class="work-item-subtext">The bottom line is simple technology used in the right applications can save lives.</div>
            </div>

            <div class="col-md-4 work-item-pic pic-2 ">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-overlay"></div>
                <div class="work-item-main-text">Prenatal and Postnatal Care Texts</div>
                <div class="work-item-subtext">Our platform can help patients who don’t know what to do before and after birth.</div>
            </div>

            <div class="col-md-4 work-item">
                <div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div>
                <div class="work-item-main-text">Patient Management</div>
                <div class="work-item-subtext">Frontline health workers are responsible for up 100 patients and will walk up to 100 mile radius to check-in on patients.</div>
            </div>

            <div class="col-md-4 work-item-pic pic-3 ">
                <a href="/inner"><div class="work-hover vertAlign">
                    <div class="vertAlign-item read-more">Read More</div>
                </div></a>
                <div class="work-item-overlay"></div>
                <div class="work-item-main-text">Potable H2O</div>
                <div class="work-item-subtext">lorem ipsum on patients. Our simple SMS, and text to voice platform can be used by community health workers wi on patients. Our simple SMS, and text to voice platform can be used by community health workers wi</div>
            </div>
        </div>
    </div> -->


<!--     <div class="subscribe-overlay"></div>
    <div class="subscribe" data-start="background-position: 0 -600px;"
      data-top-bottom="background-position: 0 -300px;"
      data-anchor-target=".subscribe">

      <div class="email">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 email-title">
                <span style="border-bottom:2px dotted white">Keep In Touch</span>
                <div class="email-text">Learn more about our impact. Sign up for our newsletter and be the first to read about program progress and important news.</div>
            </div>
            <div class="col-md-3 col-md-offset-1 email-input">
                
                 <div class="form-group">
                    <span class="email-subtitle">Enter your email to receive updates:</span> -->
                   <!--  <form class="form-inline" role="form">
                        <input type="email" class="form-control email-field" id="exampleInputEmail1" placeholder="Enter email">
                        <i class="fa fa-2x fa-arrow-circle-o-right" style="position:relative;top:12px;"></i>
                    </form> -->
<!--                      <input type="email" class="form-control email-field" id="exampleInputEmail1" placeholder="Enter email">
                     <button type="button" class="btn btn-info" style="width:100%;border-radius:1px;margin-top:6px;border-bottom:4px solid #17418D">Submit</button>
                  </div>
            </div>
            
        </div>
      </div>
    </div> -->

<!--     <div class = "navbar navbar-default navbar-fixed-bottom">

        <div class = "container">
            <a href = "#" class = "navbar-btn btn-info btn pull-right">Donate</a>
            <p class = "navbar-text pull-right">Do your part and contribute today.</p>
        </div>

    </div> -->

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="javascripts/waypoints.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/jquery.flexslider.js"></script>
<script src="javascripts/modernizr.js"></script>
<script src="javascripts/skrollr-master/dist/skrollr.min.js"></script>
</body>
</html>
