<!DOCTYPE html>
<html lang="en">
<head>
	<title>Clean Bill of Health</title>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/inner.css">
    
</head>
<body>

	<section class="main clearfix">

		<section class="top" data-start="background-position: 0 -200px;"
      data-top-bottom="background-position: 0 0px;"
      data-anchor-target=".top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
							
					<ul class="btn clearfix">
						<li><a href="#" class="previous" data-title="Previous"></a></li>
						<li><a href="/" class="grid" data-title="Home"></a></li>
						<li><a href="#" class="next" data-title="Next"></a></li>
					</ul>							
					
				</div>
				<h1 class="title">Clean Bill of Health </h1>
			</div>		
		</section>

		<section class="wrapper">
			<div class="content">
					
					<h3 style="text-align:center">20thrity.org  help builds human capacity by addressing health via disease prevention and disease maintenance.</h3>

					More than 2.2 Billion people are living in multidimensional poverty. That will increase to 4.2 Billion by 2050. 20thirty.org addresses these issues by creating partnerships of purpose and addressing systemic and structural vulnerabilities. We work to help reduce vulnerability and transnational economic threats at key points through health and access to drinkable H2O. 
					<br><br>
					Empirically grounded analysis by the United Nations has shown that services spent on health, education and welfare over the life course does not truly support capability development. In reality, services rendered later in life are inefficiently spent and less effective.
					<br><br>
					Strong universal policies not only improve individual resilience but also bolster resilience of the economy as a whole.  <i>Figure 4</i>
					<br><br>
					Spending on services in the early stages of life can bring about benefits such as a growing economy and reduced poverty. Recipients have a better shot at life and contributing to their local economy.   <i>Figure 8</i>

			</div>
		</section>
	</section>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="javascripts/skrollr-master/dist/skrollr.min.js"></script>
	<script type="text/javascript">
		var s = skrollr.init({
			render: function(data) {},
			forceHeight:false
		});
	</script>

</body>
</html>