@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster/Lobster_1.3.otf");
}

body{
	margin: 0;
}

.head-title{
	font-family: "Lobster";
	color: white;
	letter-spacing: 2px;
	font-size: 64px;
}

.intro{
	background-color: #26C281;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.content-wrapper {
    position: absolute;
    top: 88%;
    width: 100%;
    z-index: 2;
    background-color: white;

}

.about-text{
	height: 100vh;
}

.about-sidebar-image{
	background: url("../images/about-sidebar.jpg");
	height: 100vh;
	 background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 0 -100px;
}

.about-right-sidebar{
	height:100vh;
}

.event-calendar{
	height: 100vh;
}

.event-left-sidebar{
	background-color: #26C281;
	height: 100vh;
}

#map-canvas{
	width: 50%;
	height: 100vh!important;
	margin-left: 50%;
}

.stat{
	background-color: #22313F;
	text-align: center;
	font-family: "Lato"!important;
	font-weight: 700;
	color: #ABB7B7;
	padding: 40px 0;
}

.stat-header{
	font-size: 24px;
}

.stat-body{
	font-size: 64px;
	position: relative;
	top: -4px;
}

.about-text-content{
	padding: 30px 150px;
	text-align: center;
	font-family: "Lato";
}

.about-text-title{
	font-size: 18px;
}

.social{
	overflow: hidden;
	background-color: #6C7A89;
	padding: 40px 0 60px 0;
}

.social-title{
	font-family: "Montserrat";
	font-weight: 700;
	color: white;
	text-align: center;
	font-size: 48px;
}

.social-subtitle{
	font-family: "Lato";
	font-weight: 400;
	color: white;
	text-align: center;
	font-size: 24px;
	padding-bottom: 20px;
}

.social-row-1{
	position: relative;
	left: -60px;
	display: inline;
	width: 200%;
	white-space: nowrap;
}

.social-row-2{
	position: relative;
	top: 20px;
	left: -250px;
	display: inline;
	width: 200%;
	white-space: nowrap;
}

.card-col{
	margin-left: 30px;
	display: inline-block;
	white-space: normal;
}

.calendar td {
    padding: 20px;
}

.calendar-wrapper{
	margin-left: 10%;
	width: 80%;
	height: 100vh;
}

.calendar-wrapper-td{
	vertical-align: bottom;
	padding-bottom: 20%;
}

.calendar{
	width: 100%;
}

.calendar-row b:hover{
	cursor: pointer;
}

.curr-date{
	height: 30px;
	width: 30px;
	border-radius: 10px;
	background-color: #26C281;
	color: white;
}

.curr-date-text{
	position: relative;
	top: 5px;
}

.seminars{
	padding: 40px 0;
}

.seminar-title{
	font-family: "Montserrat";
	font-weight: 700;
	text-align: center;
	font-size: 48px;
}

.seminar-subtitle{
	font-family: "Lato";
	font-weight: 400;
	text-align: center;
	font-size: 24px;
	color: #ABB7B7;
	padding-bottom: 20px;
}

.seminar-card{
	display: inline-block;
	margin-right: 10px;
}

.faq{
	text-align: center;
}

.faq-header{
	background-color: #22313F;
	font-family: "Montserrat";
	font-weight: 700;
	color: white;
	text-align: center;
	padding: 40px 0 10px 0;
	font-size: 48px;
}

.faq-body{
	padding: 40px 15%;
	background-color: #F2F1EF;
}

.faq-col{
	padding: 0 20px;
}